<div class='itemContainer'>
	<div class="header">
		<h2 class="lootName" ng-click="editListName()" ng-show="editTitle == 0">{{friendly_name}}</h2>
		<input class="lootName" ng-show="editTitle == 1" type="text" ng-model="friendly_name" ng-blur="editTitle = 0">
		<div class='name'>Nom de l'objet</div>
		<div class='number'>Nombre</div>
		<div class='plusOrLess' ng-show="accessType == 'master'">- / +</div>
	</div>
	<ul class='itemList'>
		<li class="item" ng-repeat="item in items | orderBy: item[0]" ng-if="item[2]>0">
			<div class="itemName" ng-click="itemDetails(item[0], item[5])">{{item[1]}}</div>
			<div class="itemNumber">{{item[2]}}</div>
			<div class="controls" ng-show="accessType == 'master'">
				<div class='less' ng-click="item[2] = item[2]-1">-</div>
				<div class='add' ng-click="item[2] = item[2]+1">+</div>
			</div>
			<div class="itemDescription" ng-show="itemDetailToShow == item[0]">{{itemDescription}}</div>
			<div class="itemAttrContainer" ng-show="itemDetailToShow == item[0]">
				<div class="statContainer">
					<div class="itemAttr">Taille:    <span class="boldTxt">{{itemTaille}}</span></div>
					<div class="itemAttr">Résistance :    <span class="boldTxt">{{itemResistance}}</span></div>
					<div class="itemAttr">Valeur :    <span class="boldTxt">{{itemValeur}}</span></div>
				</div>
				<div class="statContainer last">
					<div class="itemAttr">Maitrises :    <span class="boldTxt">{{itemMaitrise}}</span></div>
				</div>
			</div>
		</li>
	</ul>
	<button class="button" ng-click="itemShow = 1" ng-show="itemShow != 1">Ajouter Item</button>
	<div class="newItem" ng-show="itemShow == 1">
		<div>
			<input class="name" type="text" value="{{newName}}" ng-model="newName">
			<input class="number" type="text" value="{{newNumber}}" ng-model="newNumber">
		</div>
		<button class="button" ng-click="addItem();">Ajouter Item</button>
	</div>
	<div class="lootFormFooter">
		<div ng-show="accessType == 'master'">
			Visible : <input type="checkbox" ng-model="visible" ng-true-value="'Oui'" ng-false-value="'Non'">
			<button class="button" ng-click="saveItemList()" ng-show="accessType == 'master'">Sauvegarder</button>
		</div>
		<a ng-href="#/lootList/"><button class="button">Retour</button></a>
	</div>
</div>
