<div>
	<div class='selection'>
		<select class="dropdown" ng-model="selectedLocation" ng-options="location for location in locations" ng-change="updateLocation()">
		</select>
		Min: <input class="minMaxInput" name='min' type='text' value='{{min}}' ng-model="min" size=2>
		Max: <input class="minMaxInput" name='max' type='text' value='{{max}}' ng-model="max" size=2>
		<button class="button inlineButton"ng-click="getItems()">Générer</button>
	</div>
	<loot-form id="game[0].id" location="selectedLocation" items="items"></loot-form>
</div>