<h2 style="margin-top: 20px;" ng-click="editListName()" ng-show="edit == 0">{{game[0].friendly_name}}</h2>
<input id="gameNameId" ng-show="edit == 1" type="text" ng-model="gameName" ng-blur="updateGameName(); edit = 0">
<div class="section" ng-repeat='item in lootList'>
	<div class="lootListItem" ng-show="item.active == 1 || access=='master'" ng-class="{visible: item.active == 1 && access=='master', notVisible: item.active == 0}" ng-click='editLoot(item.id)'>{{item.friendly_name}}
	</div>
</div>
<div class="createLoot">
	<button class="button" ng-click="createNewloot()" ng-show="access == 'master'">Créer nouvelle Liste</button>
</div>
<button class="button"><a ng-href="#/home/">Accueil</a></button>
