<h1>Antagonistes</h1>

<p class="description">Générateur de liste d'objets</p>
<div class="home">

	<div class="choice" ng-show="!showForm && !successCreate">
		<button class="button block" ng-click="createGame()">Nouvelle Partie</button>
		<button class="button block" ng-click="showForm = 'join'">Rejoindre une Partie</button>
	</div>
	
	
	<div class="createGameSuccess" ng-show="successCreate">
		<h2>La session a bien été créée!</h2>
		<p>Code Client de la session :</p>
		<h3>{{game.playersCode}}</h3>
		<p>Code Admin de la session :</p>
		<h3>{{game.masterCode}}</h3>
		<button class="button" ng-click="loadGame()">Lancer la session!</button>
		<button class="button"><a ng-href="#/home/">Retour</a></button>
	</div>
	
	<div class="gameForm" ng-show="showForm == 'join'">
		<form name="loadGameForm" novalidate ng-submit="loadGame();">
			<input class="inputField" type="text" name="playerInput" ng-model="playerInput" placeholder="x0x0" ng-pattern="/[a-z0-9]{4}/" required>
			<button class="button" type="submit">Charger la session</button>
		</form>
		<button class="button" ng-click="showForm = false" >Retour</button>
	</div>
	<div class="homeMiddle" ng-show="!showForm && !successCreate">
		<p>Générateur de liste d'objets </br>pour le jeu de rôle Antagonistes</p>
		<p>www.antagonistes.com</p>
	</div>
	<div class="homeBottom">
		<p>&#169 2015 Nicolas Waucheul All Rights Reserved</p>
	</div>

	

</div>
