* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a:link, a:visited ,a:hover, a:active {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

body { 
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-size:16px;
    margin:0px;
    padding:0px;
    width:100%;
    height: 100%;
    text-align: center;
    color: #000;
    background: url(../img/anta_bg.png) no-repeat;
    background-size: 30%;
    padding-left: 12%;
}


.container{
    width:100%;
    height: 100%;
    margin-top: 20px;
}
.description{
  margin-top: -5px;
}
.homeMiddle{
  margin-left: -7%;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 300px;
}
.homeBottom{
  font-size: 10px;
  text-align: right;
  position: fixed;
  bottom: 30px;
  right: 0px;
  padding-right: 5px;
}
.link{
    color: #000;
}
.view{
    margin-top: 10px;
}
.selection{
    width: 100%;
}
.selection .dropdown{
    max-width: 25%;
    text-overflow: ellipsis;
}
.choice{
  margin: auto;
  text-align: center;
}
.gameForm{
  margin: 20px;
}
.visible{
  font-weight: bold;
}
.notVisible{
  color: rgba(0,0,0,0.5);
}
.button{
  display: block;
  margin: 10px auto;
  border: 1px solid rgba(0, 0, 0, 0.4) !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px !important;
  background: rgba(0, 0, 0, 0.1) !important;
  color: #000;
  width: 140px;
}
.minMaxInput{
  width: 35px;
}
.inlineButton{
  display: inline-block;
  width: 140px;
}
.listButton{
  margin: 2px auto;
}
.block{
  display: block;
}
.gamename{
  width: 110px;
}
.itemContainer{
    width: 100%;
    text-align: center;
    overflow: scoll;
    height: 150%;
}
.itemContainer .header{
    font-size: 13px;
    display: inline-block;
    width: 100%;
    padding: 15px 0 10px 0; 
}
.itemContainer .name{
    display: inline-block;
    width: 49%;
}
.itemContainer .number{
    display: inline-block;
    width: 12%;
}
.itemContainer .plusOrLess{
    display: inline-block;
    width: 35%;
}
.itemContainer .itemList{
    position: relative;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    font-size: 10px;
}
.itemContainer .item{
    width: 94%;
    margin-left: 3%;
    margin-bottom: 5px;
    background: rgba(0,0,0,0.2);
}
.itemContainer .item div{
    display: inline-block;
    position: relative;
    width: 20%;
    padding: 5px 0 5px 0;
}
.itemContainer .item .itemName{
    width: 50%;
}
.itemContainer .item .itemNumber{
    width: 12%;
}
.itemContainer .item .controls{
    width: 35%;
    padding-right: 0;
}
.itemContainer .item .statContainer{
  display: block;
  width: 100%;
  padding-bottom: 0;
}
.itemContainer .item .itemAttr{
  width: 20%;
  padding-bottom: 0;
}
.itemContainer .item .last .itemAttr{
  width: 90%;
  padding-top: 0;
}
.itemContainer .item .itemAttrContainer{
  width: 100%;
  padding: 0;
  text-align: center;
  background: rgba(255,255,255,0.5);
}
.boldTxt{
  font-size: 18px;
}
.itemContainer .item .controls .less{
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  color: #000;
  font-size: 20px;
  background: #d93434;
  padding: 4% 4% 4% 4%;
  text-decoration: none;
  cursor: pointer;
  margin: 0 10px 0 0px;
  width: 30%;
}
.less:active {
  background: #faca3c;
  text-decoration: none;
}
.itemContainer .item .controls .add {
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  color: #000;
  font-size: 20px;
  background: #23c223;
  padding: 4% 4% 4% 4%;
  cursor: pointer;
  text-decoration: none;
  width: 30%;
}
.itemContainer .item .itemDescription{
  display: block;
  margin: auto;
  padding: 10px;
  width: 80%;
  font-style: italic;
}
.add:active {
  background: #faca3c;
  text-decoration: none;
}
.ng-invalid-pattern{
    color: red;
}
.ng-valid-pattern{
    color: green;
}
.inputField{
    text-align: center;
    width: 140px;
}

.lootListItem{
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(0,0,0,0.2);
  padding: 5px 0 5px 0;
}
.lootListItem:first-of-type{
  border-top: none;
}
.lootListIteml:last-of-type{
  border-bottom: none;
}

#gameNameId{
  display: block;
  margin: auto; 
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
}
.lootName{
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0px auto 20px auto;
  font-weight: bold;
  text-align: center;
}






